<header>
<main class="container-fluid">
   <div class="jumbotron">
       <h1 class="display-4 text-white text-center mt-1"><b>Kanban Board</b></h1>
   </div>
</main>
<div class="bg-image container">
<img src="../../../assets/images/1.jpg " height="900px" width="900px" class="img-fluid center">
</div>
<section class="container">
   <h2 class="mt-4"style="font-size: 1.5rem;"> <b>What is Kanban Board</b></h2>
  
   <p style="font-size: 1.125rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Kanban boards include multiple columns that represent different stages of the team’s progress. These may be organized using terms like ‘under review’ or ‘ready to start’, and users add tasks to each column by simply shifting the cards. A Kanban board typically incorporates various colors to reinforce the user-friendly, highly accessible nature of the tool. 
   </p>
   <p style="font-size: 1.125rem;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    This way of working will be familiar to anyone with experience using project management tools, such as Asana and Trello, which are based on Kanban boards. This style of template is simple to set up and implement at a company-wide level or just for specific teams.   
   </p>
   <div class="container">
       <h2>Kanban Board Example</h2>
       <img src="../../../assets/images/board.png" width="900px" class="img-fluid center">
   </div>
    
</section>
<footer class="container pt-1">
    <div class="container pt-1">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="row mb-5">
              <div class="col-md-4 mr-auto">
                <h3 class="thin-heading mb-4">New York</h3>
                <p>9757 Aspen Lane
  South Richmond Hill, NY 11419</p>
              </div>
              <div class="col-md-6 ml-auto">
                <h3 class="thin-heading mb-4">Contact Info</h3>
                <p>T: +1 (291) 939 9321 <br> E: info@mywebsite.com</p>
              </div>
            </div>
  
            <div class="row justify-content-center">
              <div class="col-md-12">
                
                <h3 class="thin-heading mb-4">Message Us</h3>
  
                <form class="mb-5" method="post" id="contactForm" name="contactForm">
                  <div class="row">
                    <div class="col-md-6 form-group">
                      <input type="text" class="form-control" name="name" id="name" placeholder="Your name">
                    </div>
                    <div class="col-md-6 form-group">
                      <input type="text" class="form-control" name="email" id="email" placeholder="Email">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 form-group">
                      <textarea class="form-control" name="message" id="message" cols="30" rows="2" placeholder="Write your message"></textarea>
                    </div>
                  </div>  
                  <div class="row">
                    <div class="col-12">
                      <input type="submit" value="Send Message" class="btn btn-primary rounded-0 py-2 px-4">
                    <span class="submitting"></span>
                    </div>
                  </div>
                </form>
  
                <div id="form-message-warning mt-4"></div> 
                <div id="form-message-success">
                  Your message was sent, thank you!
                </div>
  
              </div>
            </div>
          </div>
        </div>
      </div>
</footer>
</header>