<div class="container mt-5">
    <div class="card text-center" style="color: green; padding: 20px;">
        <h1>Welcome Admin</h1>
    </div>
</div>

<!-- <nav class="navbar fixed-top  navbar-expand-sm bg-light navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i class="fa fa-trello" aria-hidden="true" style="color: blue;"></i>&nbsp;Trello</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><i class="fa fa-home pr-2" aria-hidden="true"></i>&nbsp;Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/tasks-list">Board</a>
              </li> 
              
              <li class="nav-item">
                <a class="nav-link" routerLink="/login"  data-bs-toggle="modal" data-bs-target="#myModal">
                    <i class="fa fa-user-circle" style="color: black;" aria-hidden="true"></i>
                  Logout  
                </a>
              </li>
        </ul>
      </div>
    </div>
  </nav> -->
 <!-- <section class="mt-2">
  <div class="jumbotron">
    <h1 class="display-1">Jumbo heading</h1>
  </div>
</section> -->
